body{
display: flex;
flex-direction: column;
}

.image{
    width: 1550px;
    height: 303px;
}

#cabecalho{
    height: 50px;
    padding: 20px;
    background-color: blue;
}

.menu{
    display: inline-block;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#Box-cards{
    text-align: center;
    border-radius: 2px;
    width: 250px;
    border: solid blue 10px;
}

#Box-cards img{
  border-radius: 3px;
    width: 200px; 
    height: auto;

}

#Box-cards p{
    text-align: center;
}

.container-Produtos{
   display: flex;
   justify-content: space-around;
   padding: 20px;
   flex-wrap: wrap;

}
#cards{
    display: flex;
    margin-left: 30px;
    width: 300px;
    height: 300px ;
}

.container-button{
    margin-top: auto;
}
